html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-height: 100vh;
    background-color: #000;
    
}

.gallery {
    overflow-x: scroll;
    width: 200vw;
    ul {
        display: flex;
        align-items: flex-end;
    }
}


.item {
    width: 100%;
    max-width: 1000px;
    max-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;

    &:not(:first-child) {
        margin-left: -10%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}